@inherits LayoutComponentBase

<header class="navbar">
    <div class="navbar-content">
        <h1 class="navbar-title">Conway's Game of Life</h1>
        <nav class="navbar-menu">
            <a href="#" class="navbar-link">Play</a>
            <a href="#" class="navbar-link">About</a>
            <a href="#" class="navbar-link">GitHub</a>
        </nav>
    </div>
</header>

<main class="main-container">
    <div class="body-container">
        @Body
    </div>
</main>
